In [20]:
from collections import Counter
import numpy as np
import pandas as pd

In [21]:
import pandas as pd
import glob
import os

# merging the files
joined_files = os.path.join("C:/Users/yodar/Desktop/Info retrieval/WORD COUNT", "*.csv")
  
# A list of all joined files is returned
joined_list = glob.glob(joined_files)
  
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

In [22]:
df

,Unnamed: 0,id,username,geo,created_at,date,tweet,language,hashtags,cashtags,link,urls,photos,video,nlikes,nreplies,nretweets
0,0,1.510000e+18,Envisager_,,1.648570e+12,2022-03-29T23:49:40Z,@axelk Not got it yet but we have the BMW 330e...,en,[],[],https://twitter.com/Envisager_/status/15088337...,[],[],0,1,1,0
1,1,1.510000e+18,23ABCNews,,1.648570e+12,2022-03-29T23:45:26Z,UPDATE: CHP said a man was killed Monday night...,en,[],[],https://twitter.com/23ABCNews/status/150883271...,['https://www.turnto23.com/news/local-news/one...,[],0,0,0,0
2,2,1.510000e+18,BsiflingTrades,,1.648570e+12,2022-03-29T23:31:36Z,@AdamBankz @K98ssr @NFTMINESE @HungryforGainsn...,en,[],[],https://twitter.com/BsiflingTrades/status/1508...,[],[],0,1,0,0
3,3,1.510000e+18,CloseHouseGolf,,1.648570e+12,2022-03-29T23:30:05Z,Another incredible Close House VIP car deliver...,en,"['bmw', 'vip', 'dreamcar']",[],https://twitter.com/CloseHouseGolf/status/1508...,[],['https://pbs.twimg.com/media/FPBv1x2WQA49E4s....,1,7,0,0
4,4,1.510000e+18,GadgetFlow,,1.648570e+12,2022-03-29T23:30:03Z,The @BMW Motorrad Definition CE 04 sit-on #eSc...,en,"['escooter', 'transportation']",[],https://twitter.com/GadgetFlow/status/15088288...,['https://thegadgetflow.com/portfolio/bmw-moto...,['https://pbs.twimg.com/media/FPBv1chX0AcuHfs....,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92468,2454,1.490000e+18,autocarindiamag,,1.643430e+12,2022-01-29T13:13:11Z,Dealers are offering sizeable discounts on som...,en,[],[],https://twitter.com/autocarindiamag/status/148...,['https://www.autocarindia.com/car-news/dealer...,[],0,42,0,7
92469,2455,1.490000e+18,Radio702,,1.643430e+12,2022-01-29T13:09:06Z,"Motoring Expert, Ernest Page talks about Road ...",en,"['weekendbreakfast', '702walkthetalk']",[],https://twitter.com/Radio702/status/1487291690...,[],[],0,2,1,0
92470,2456,1.490000e+18,ReutersAsia,,1.643420e+12,2022-01-29T08:30:00Z,WATCH: Toyota extended its lead as the world's...,en,[],[],https://twitter.com/ReutersAsia/status/1487221...,['https://reut.rs/34d2h5J'],[],1,17,0,5
92471,2457,1.490000e+18,ReutersBiz,,1.643420e+12,2022-01-29T08:20:00Z,Toyota extended its lead as the world's top-se...,en,[],[],https://twitter.com/ReutersBiz/status/14872189...,['https://reut.rs/34d2h5J'],[],1,11,0,4
92472,2458,1.490000e+18,Reuters,,1.643420e+12,2022-01-29T08:10:00Z,Toyota extended its lead as the world's top-se...,en,[],[],https://twitter.com/Reuters/status/14872164194...,['https://reut.rs/34d2h5J'],[],1,43,6,8

# Number of records

In [23]:
len(df)

92473

# Number of words

In [24]:
#count words for each column

df['word_count'] = df['tweet'].str.count(' ') + 1

In [25]:
Total = df['word_count'].sum()
print (Total)

2198841

# Number of unique words

In [26]:
x = Counter(" ".join(df['tweet'].str.lower().values.tolist()).split(" "))

In [27]:
len(x)

214151